---
import MainInfo from "./mainInfo.astro";
---

<main class="flex flex-col flex-grow w-full overflow-hidden relative x-shadow">
  <video
    class="blur-sm absolute -z-50 object-cover w-full h-full"
    src="/darklight.mp4"
    loop
    autoplay
    muted></video>
  <div class="flex flex-col justify-center h-full">
    <MainInfo></MainInfo>
  </div>
</main>

<style>
    .text-shadow{
        text-shadow: 0 0 4px rgb(73, 73, 73);
    }
    .x-shadow{
        box-shadow: inset 10px 0 10px -5px rgba(0, 0, 0, 1),
              inset -10px 0 10px -5px rgba(0, 0, 0, 1);
    }
</style>