<div>
    <h2 class="text-shadow text-[#EFDB87] text-3xl drop-shadow-xl">VILLA GESELL - PINAMAR - MAR DEL PLATA</h2>
    <p class="text-shadow text-slate-200 text-lg pl-5 leading-9 pt-2">
      -ELECTRICIDAD DOMESTICA.<br />
      -PROYECTOS ELECTRICOS.<br />
      -ELECTRICIDAD INDUSTRIAL.<br />
      -SISTEMAS DE SEGURIDAD (CAMARAS Y ALARMAS).<br />
      -REDES E INFORMATICA.
    </p>
  </div>
</div>