<div class="flex flex- gap-x-2">
    <div class="flex flex-col justify-center items-center">
        <span class="text-white">+54 2255 - 5555 56</span>
        <span class="text-white">Presupuesto sin cargo</span>
    </div>
    <div class="flex flex-row gap-x-2">
        <span class="text-white">IG</span>
        <span class="text-white">WHP</span>
    </div>
</div>