<div class="flex flex-row items-center h-16 xl:h-20 gap-x-2 cursor-default select-none">
  <img class="h-full" src="/LOGO.svg" alt="logo">
  <div class="h-full flex flex-col justify-end">
    <h1 class="text-[#EEC105] text-[40px] leading-none border-b border-b-[#EEC105]">DETEC</h1>
    <span class="text-white text-[13px] pt-1">Soluciones electricas</span>
  </div>
</div>
