<div class="flex flex-row items-center h-16 xl:h-20 gap-x-2">
  <img class="h-full" src="/LOGO.svg" alt="logo">
  <div class="h-full flex flex-col justify-end">
    <h1 class="text-[#EEC105] text-[40px] leading-none">DETEC</h1>
    <span class="text-white text-[13px] pl-1">Soluciones electricas</span>
  </div>
</div>
